
#dashboard {
text-align: center;
}

.banking-col {
    background-color: #198754;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    margin: 25px;
    border-radius: 10px;
    color: white;
}
